# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore data
*.csv

# environment variables & secrets might go here
.env*

# editor
.vscode/
.sw*
